정리해야하는것/n8n.json
{
  "name": "Newsletter Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, email FROM subscribers WHERE status = 'active'",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Fetch Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 3,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "your_postgres_credentials_id",
          "name": "Postgres Credentials"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "from": "newsletter@yourdomain.com",
        "fromName": "N8n Newsletter Bot",
        "to": "={{$item().email}}",
        "subject": "=오늘의 뉴스레터: {{ $json.name }} 님, 안녕하세요",
        "html": "=<h1 style=\"color: #333;\">{{ $json.name }} 님, 안녕하세요!</h1><p style=\"color: #555;\">이번 주 최신 뉴스와 팁을 확인하세요.</p><br><p>여기에 뉴스레터 본문 내용이 들어갑니다.</p>",
        "options": {
          "contentType": "html"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "your_smtp_credentials_id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Wait for 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Fetch Subscribers",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscribers": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Send Email",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait for 1 Hour",
            "index": 0
          }
        ]
      ]
    },
    "Wait for 1 Hour": {
      "main": [
        [
          {
            "node": "Start",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "retryOnFail": true,
    "maxTries": 2
  },
  "staticData": null,
  "tags": []
}
